/************ The body css **************/

@import url('https://fonts.googleapis.com/css?family=Six+Caps');

body {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  color: red;
}
/* ************ The navbar css ************** */
.navbar_main {
  position: absolute;
  top:0;
  width:100%;
}

.navbar_profile {
  background:black;
}


.container > svg {
  font-size:12em;
  color:white;
}

.navbar-toggler {
  background:rgba(0, 0, 0, 0.15);
  float: right;
}

.navbar-dark .navbar-nav .nav-link {
  color: whitesmoke;
  float: right;
}

.navbar-dark .navbar-brand {
  color: whitesmoke;
  float: left;
}



.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/************* hero front page css *************/
.hero-text {
  padding: 20% 2%;
}

#hero {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3)
  ), url("./components/Images/kyoto-1976538_1280.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  border-bottom: 1px solid rgb(4, 44, 4);
}

/************* Profile page css *************/
.container-profile {
  background: rgba(0, 0, 0, 0.822)
}

/************* carousel css *************/
.carousel-inner{
  border-bottom: 1px solid rgb(6, 141, 204);
}

.photo-size {
  height: 100%;
  width: 100%;
  z-index: -10;
}


#my-engagement {
  background-color: rgba(0,0,0,0.9

  );
}
/************* photo gallery css *************/
#food-photo{
  text-align: center;
}
.img-text{
  text-align: center;
}
/************* about me css *************/
.myRow {
  display:flex;
  justify-content: space-around;
}

@keyframes colors{
0% {background-color: lightblue}
25% {background-color: lightgreen}
50% {background-color: lightsalmon}
100% {background-color: lightblue}

}

#about-me {
  animation: colors 10s infinite;
}

#amanda{
  background-image: url("./components/Images/Amanda.jpg");
  background-size: auto;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  float: center;
  
}

/************* contact css *************/
#container-contact{
/* background-color: white */
}

/************* footer css *************/
#andres {
  color: rgb(142, 247, 142);
}

#brandon{
  color: rgb(142, 247, 142);
}
#shanon {
  color: rgb(142, 247, 142);
}

#olga {
  color: rgb(142, 247, 142);
}


.footer-row {
  display:flex;
  justify-content: space-around;
}


.container-footer {
  background-color: rgb(0, 0, 0);
  
}

h2{
  color: rgb(255, 255, 255);
}
p {
  color: rgb(255, 255, 255);
}

#footer-con > i {
  color: rgb(240, 8, 8);
  transform:scale(1);
  transition:all 0.5s cubic-bezier(.62,.01,.47,.81);
}

#footer-con > i:hover {
  transform:scale(1.2);
  box-shadow:3px 5px 5px rgba(255, 192,203,0.5);
}

#footer-con > i:active {
  transform:scale(1);
  box-shadow:3px 3px 1px rgba(255, 192,203,0.5);
}
.footer-copyright {
  color: white
}



/* *{
	border: 1px solid red
} */



