.errorMessage {
 margin-top: 100px;
}

h1, p, .header {
    margin-bottom: 25px; 
}

.AddImageHead {
    color: black; 
}

.profileCol2{
   text-align: center;
   margin-bottom: 50px;
}

.addImage , h3, .pt-3, .img-fluid {
text-align: center;
}

p.linkCol2, .faOnClick {
    cursor: pointer;
      
}

