.errorMessage {
 margin-top: 100px;
}

h1, p, .header {
    margin-bottom: 25px; 
}

.AddImageHead {
    color: black; 
}

.profileCol2{
    background-color: black;
}

.addImage , h3, .pt-3, .img-fluid {
text-align: center;
}

.img-fluid {
    /* position: fixed; */
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
}