p {
    color: black; 
}



.ImageHolder {
    /* position: fixed; */
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
    height: 200px;
    margin-top:20px;
}

.deleteCard {
    background: #fff;
    border-radius: 10px;
    height: 400px;
    margin: 1rem;
    position: relative;
    width: 350px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
  


  
  /* img {
    height: 200px;
    width: 200px;
  }
   */