body {

}

.navbar-dark .navbar-nav .nav-link {
    color: whitesmoke;
}

.navbar-dark .navbar-brand {
    color: whitesmoke;
}
.navbar-dark{
    background-color: black;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

#hero {
    background-image: url("../Images/kyoto-1976538_1280.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}

.hero-text {
    padding: 20% 2%;
}

/* *{
	border: 1px solid red
} */